*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32, 32, 32);
    color: white;
    list-style: none;
padding: 20px;
display: flex;
justify-content: space-around;
align-items: center;}
.menus{
    display: flex;
}
.logo-photo{
    width: 150px;
}
.iteam{
    margin-left: 10px;
    padding-right:7px ;
    font-size: 18px;
     
}
.iteam:hover{
    color: blue;
    cursor: pointer;
}
.banner-img{
    width: 300px;
}
.banner-container{
 display: flex;
 justify-content: space-around;
 height: 100vh;
 /* border:2px  solid gray; */
 color: white;
 align-items: center;
 background-image: url(images/background.png),
 linear-gradient(45deg,#888,#535353);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.des{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px ;
    background-color: red;
    color: white;
    border: none;
}
.btn:hover{
    color: aqua;
     cursor: pointer;  
     background-color: black;  
}

.about-container{
    display: flex;
    flex-direction: row-reverse;
   padding: 10px ;
    align-items: center;
    justify-content: space-between;
}
.aboutus{
 text-align: center;
 padding: 30px;

}